// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright 2019-2022 Variscite Ltd.
 * Copyright 2022 Mosaic Manufacturing Ltd.
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mm-var-som.dtsi"

/ {
	model = "Variscite VAR-SOM-MX8M-MINI on Symphony-Board 1.4a and above";
	compatible = "variscite,dart-mx8mm", "fsl,imx8mm";

  /*
	chosen {
		stdout-path = &uart4;
	};
  */

	extcon_usb1: extcon_usb1 {
		compatible = "linux,extcon-usb-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_extcon>;
		id-gpio = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

  /* lvds to hdmi */
  lvdshdmi: lvdshdmi {
	  pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lvds_to_hdmi>;
    reset-gpio = <&gpio4 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    status = "okay";
  };
};

&iomuxc {
	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI2_RXC_UART1_DCE_RX    0x140
			MX8MM_IOMUXC_SAI2_RXFS_UART1_DCE_TX   0x140
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART3_RXD_UART3_DCE_RX		0x140
			MX8MM_IOMUXC_UART3_TXD_UART3_DCE_TX		0x140
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
      MX8MM_IOMUXC_ECSPI2_SCLK_UART4_DCE_RX 0x140
      MX8MM_IOMUXC_ECSPI2_MOSI_UART4_DCE_TX 0x140
		>;
	};

	pinctrl_extcon: extcongrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11		0x16
		>;
	};

	pinctrl_lvds_to_hdmi: lvdshdmigrp {
        fsl,pins = <
          MX8MM_IOMUXC_SAI1_TXFS_GPIO4_IO10     0x0
        >;
    };

    pinctrl_master_mcu_reset: mastermcuresetgrp {
        fsl,pins = <
          MX8MM_IOMUXC_SAI3_TXD_GPIO5_IO1       0x0
        >;
    };

    pinctrl_slave_mcu_reset: slavemcuresetgrp {
        fsl,pins = <
          MX8MM_IOMUXC_SAI2_TXD0_GPIO4_IO26     0x0
        >;
    };
};

&snvs_pwrkey {
	status = "okay";
};

&snvs_rtc {
	status = "disabled";
};

/* Header */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	//assigned-clocks = <&clk IMX8MM_CLK_UART1>;
	//assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
	status = "okay";
};

/* Header */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	//assigned-clocks = <&clk IMX8MM_CLK_UART3>;
	//assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
	status = "okay";
};

/* Console */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	//assigned-clocks = <&clk IMX8MM_CLK_UART4>;
	//assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
	status = "okay";
};

&usbotg1 {
	dr_mode = "host";
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	hnp-disable;
	srp-disable;
	adp-disable;
	extcon = <0>, <&extcon_usb1>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	disable-over-current;
	status = "okay";
};

&dsi_lvds_bridge {
  display-timings {
   	lvds800x480: 800x480p60 {
      clock-frequency = <33000000>;
      hactive = <800>;
      vactive = <480>;
      hback-porch = <40>;
      hfront-porch = <40>;
      vback-porch = <29>;
      vfront-porch = <13>;
      hsync-len = <48>;
      vsync-len = <3>;
      hsync-active = <0>;
      vsync-active = <0>;
      de-active = <1>;
      pixelclk-active = <0>;
		}; 
  };
};
